* {
	margin: 0px;
	padding: 0;
}

.menu {
	display: flex;
	align-items: center;
}

.menu .menuItems,
.menu .menuItems {
	display: flex;
	align-items: center;
	list-style: none;
}

.menuItems .hiddenMenu {
	display: flex;
	flex-direction: column;
}

.hiddenMenu ul {
	list-style: none;
	display: none;
}

.hiddenMenu:hover ul {
	list-style: none;
	display: block;
}

.potionsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.potionsContainer .potionImg {
	margin-right: 0.8rem;
}

.potionsContainer .potionImg img {
	height: 10rem;
	width: 10rem;
}