h1 
{
    font-size: 20px ;
    font-family:Castellar , Helvetica, sans-serif;
    color: #CD0000;
}

.container img
{
    max-width:190px;
    max-height:150px;
    width: auto;
    height: auto;
}


